<div class="container content aboutMe">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 center">
      <h2>About me</h2>
    </div>
  </div>
  <div class="row container">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <br>
      <p class="about-me">
        My name is Saúl Gómez. I'm a Electronics Engineer and Web Developer.
        I graduated from The University of Colima in 2004.
        <br><br>
        I'm from México, I born in Gudalajara, Jalisco, but right now my resident is in
        Colima city, It's about three hours from Guadalajara. Also I have participated in the
        Socrates Program for International exchange in Spain for six months. When I'm not coding,
        you'll find me playing tennis table or just taking a ride..
      </p>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <img class="img img-circle" src="/assets/me_one.jpg" alt="...">
    </div>
  </div>
  <br>
  <div class="row container">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <p>
        I’m always open to exciting job opportunities, I am currently available for work.
      </p>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12">
      <img class="img" src="/assets/me_two.jpg" alt="...">
    </div>
  </div>
</div>
