

<div class="container content aboutMe">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 center">
      <h2>Projects</h2>
    </div>
  </div>
  <br><br>
  <div class="row center">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-3 portfolioLink">
        <a href="http://www.reviewtree.com" class="thumbnail">
          <img src="/assets/reviewtree.png" alt="..." class="thumbnail">
          <br><br>
          ReviewTree
        </a>
      </div>
      <div class="col-lg-3 portfolioLink">
        <a href="http://www.thephillapp.com" class="thumbnail">
          <img src="/assets/phill.png" alt="..." class="thumbnail">
          <br><br>
          Phil
        </a>
      </div>
      <div class="col-lg-3 portfolioLink">
        <a href="http://www.curveyourcareer.com" class="thumbnail">
          <img src="/assets/curveyourcareer.png" alt="..." class="thumbnail">
          <br><br>
          CurveYourCareer
        </a>
      </div>
    </div>
  </div>
</div>
