<footer>
  <div style="background-color: #ffffff;min-height: 60px;">
    <div class="container">
      <div class="row center">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <a href="https://www.facebook.com/Saul18" class="fa fa-facebook" target="_blank"></a>
          <a href="https://twitter.com/saulgo18" class="fa fa-twitter" target="_blank"></a>
          <a href="https://plus.google.com/u/0/109970255411602543634" class="fa fa-google" target="_blank"></a>
          <a href="https://www.linkedin.com/in/sa%C3%BAl-g%C3%B3mez-4731295a/" class="fa fa-linkedin" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
