<footer>
  <div style="background-color: #ffffff;min-height: 60px;">
    <div class="container">
      <div class="row center">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
          <a href="#" class="fa fa-linkedin"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
